In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import seaborn as sns
import re
import io
import scipy.stats as stats

# 1.3 output equation #1

In [24]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Labour.csv')
df

       capital  labour     output       wage
0     2.606563     184   9.250759  43.080307
1     1.323237      91   3.664310  27.780016
2    22.093692     426  28.781516  44.467748
3    10.737851      72   4.124642  39.734710
4     1.161365      46   2.890150  34.650709
..         ...     ...        ...        ...
564   2.625403      20   1.424376  33.477545
565   1.276386      61   2.109048  26.300732
566   1.953869     117   6.241870  41.153979
567   1.318527      46   7.902237  66.720139
568   2.832391     161   6.804085  36.618435

[569 rows x 4 columns]

In [25]:
model=smf.ols(data=df, formula='output~capital+labour+wage').fit()
hat_y=model.predict()

In [26]:
hat_y

array([ 1.22906950e+01,  4.57101298e-01,  3.26713978e+01,  8.45249490e+00,
        1.15007554e+00,  4.95323301e+02,  4.96225925e-01,  2.69781742e+00,
        6.93083590e-01,  2.43757091e+00,  5.66564085e+00,  1.92791692e+00,
       -2.55367472e-01,  3.71340262e+00,  3.00062549e+00,  5.58104740e+00,
       -5.65128192e+00,  1.60377117e+01,  2.27977417e+00, -1.63642251e+00,
       -5.20310116e+00,  7.25038098e+00,  4.06867541e+00, -6.25486350e-01,
        3.32128894e+00,  4.22318186e+00,  5.97177164e+00,  6.60880530e+00,
        1.37823245e+01,  5.40857894e+00, -1.68422671e+00,  3.97020603e+00,
        1.11408840e+01, -9.36989184e-01,  9.15360522e+00, -6.27008499e-01,
        4.01437577e+00,  1.68675245e+01,  2.41409083e+00,  3.64642225e+00,
        3.49784717e+01,  5.31658996e+00,  3.26044590e+00,  1.96810268e+01,
        7.68688994e+00,  6.09158964e+00,  3.71223636e+01,  6.83356225e-01,
        5.77238852e+00,  2.03922830e+01,  3.94775369e+00,  8.78354170e+00,
        6.07147791e+01,  1.52278262e+02,  7.88775171e+00,  2.07133501e+02,
       -3.60744533e+00, -3.91912593e-02, -3.15519408e+00, -1.36787904e+00,
        1.06856916e+01,  4.57442522e+01,  2.03041597e+01,  4.45832281e+00,
       -7.15309228e-01,  7.11463113e+00, -2.17550260e-01,  6.32116243e+00,
        1.11421650e+01,  5.26782721e+01,  5.05781479e-01,  2.76544521e+01,
        4.77710711e-01,  1.01811381e+01,  6.00219705e+00,  3.36480812e+00,
        3.28328592e+00,  3.16063828e+01, -3.14241244e+00,  7.04988944e+00,
        2.35068896e+01,  5.87428376e+00, -1.33480957e-01,  2.76603961e+00,
        4.64215788e+00,  7.40464848e+01,  1.04733770e+01,  7.65112318e+00,
        2.02866954e+01,  8.69872864e+00,  1.28020820e+00,  1.02553915e+01,
        2.84398697e+00, -3.81793424e+00,  3.29313529e+00,  2.66255886e+00,
        8.79067109e+00,  1.13304361e+01,  3.39705224e+00,  1.59359752e+00,
        6.95205394e+00,  1.01593348e+01,  4.75820670e+01,  8.65431706e+00,
        8.38602855e+00,  1.14552995e+01,  3.76085485e+01,  4.46933149e+00,
        2.23040916e+01, -9.61063062e-01,  4.99870991e+00,  4.61501780e+01,
        1.01804165e+01, -2.53983908e+00,  9.48812017e+00,  9.55872787e+00,
        3.79499211e-01,  2.79596337e+01, -2.42651250e-01,  1.34451993e+01,
       -1.58978060e+00,  4.95779390e+00,  2.07523674e+01,  1.27183661e+00,
        1.19884086e+00,  1.32281462e+01,  1.44261958e+00,  3.61171132e+00,
        3.54981494e+02,  8.41502066e+00,  1.37660528e+01,  1.80843740e+00,
        1.02217955e+01,  3.83847994e+00,  3.42402327e+00,  1.27323286e+01,
        3.90729352e+00,  3.10788259e+00, -1.73287203e+00,  1.27515450e+01,
       -1.42312255e-01,  3.03213743e+01,  1.28145699e+01,  1.86398683e+00,
        3.33781956e+01,  2.86907964e-01,  4.64279918e+00, -7.44925273e-01,
        2.12048171e+01,  2.76452516e-01, -2.67509149e+00, -3.45496381e+00,
        1.53047889e+00,  7.58256411e+00,  4.30768162e+00,  5.39721282e+01,
        6.07815480e+00,  2.17179378e+00,  4.91875169e+00,  7.44100254e-01,
       -4.74490821e-01,  5.60930801e+01,  6.81330624e+00,  1.02090324e-01,
        1.81563193e+00,  2.78168465e+01,  1.16395801e+01,  1.97284083e+00,
        4.43838535e+00,  4.97704558e+00, -1.99603958e+00,  9.27424299e+00,
       -4.92419167e-01,  8.37526859e+01,  1.37705970e+01,  3.78236533e+01,
        1.38328555e+00, -1.60509579e+00,  1.45927081e+01,  7.22775182e+00,
        1.04219959e+01,  1.80651419e+01,  8.36093705e+00,  9.11090320e+00,
       -4.46728234e+00,  3.15926322e+00, -1.47015074e+00,  1.01360760e+02,
        1.72361744e+01,  1.32439890e+01,  7.86642160e+01,  1.55625616e+01,
        3.86864140e+00,  7.17895591e+00,  3.78282278e+00,  2.08637703e+01,
        1.70653060e+00,  1.60718311e+01,  5.22862052e+00,  8.36165577e+00,
        4.17160331e+00,  2.47923218e+01,  9.93697379e+00,  3.80733626e+00,
        1.87058774e+01,  2.49286903e+01,  7.02184653e+01, -1.81814403e+00,
        1.86934393e+01,  1.14773752e+01,  9.83279123e+00,  5.95475490e+00,
        5.59817220e+00,  5.05141171e-01, -6.68027312e+00, -2.55106914e+00,
        2.20647080e+01,  7.42425579e+01,  5.62522987e+00, -4.38790699e-02,
        1.17650088e+01,  9.96523058e+00,  8.83642816e+00,  5.60900192e+00,
        1.25060808e+01,  1.12574198e+01,  5.16902301e+01, -7.10633522e+00,
        2.67136731e+00,  2.23646254e+00,  6.76167692e+00,  1.41844945e+00,
        3.31297882e+00,  3.44952969e+01,  2.82730630e+00,  4.00207126e+00,
        2.95494485e+00, -1.30099645e+00,  6.45452634e+00,  7.42672890e+00,
        8.33783768e+00,  2.29853215e+00,  5.98282247e+00, -5.62059932e-03,
        2.19865098e+01,  3.54745397e+01,  3.09191128e+01,  1.41110494e+00,
        3.03310041e+00,  4.15121804e+00, -2.93416439e+00, -1.69391491e+00,
        1.51903041e+01,  3.45017581e+01, -3.66280405e+00,  1.02997272e+00,
       -1.67152632e+00,  3.18900379e+00,  2.97144056e+00,  1.22398106e+00,
        3.56965242e+00,  1.92214852e+01,  3.57732418e+00,  3.42467096e+00,
        4.11506214e-01,  1.61154221e+01,  1.90994298e+01,  8.00846918e+00,
        2.66879318e-01, -9.80970307e-01,  6.87398139e+00,  6.77519918e+00,
        4.10835713e-01,  3.89771198e+01,  1.16060543e+01,  3.69850185e+00,
       -2.37445587e+00,  1.03339344e+01,  7.01626724e+00,  1.42102016e+00,
        3.83071969e+00,  4.78151136e+01,  9.85075345e-01,  1.93046062e+01,
        2.56096027e+01,  5.47311467e+01,  1.94828141e+00,  6.55015840e+00,
        1.29287615e+02, -3.54735394e+00,  5.51208173e+00,  8.00610270e+00,
        9.36240924e+00,  1.64287712e+00,  1.12800575e+01, -2.50087816e+00,
        6.55765263e+00,  2.87779097e+01,  1.02825485e+00,  3.81250053e+00,
        2.25127981e+00,  1.87816623e+00, -7.40000435e+00,  2.08068007e+01,
        1.40115976e+01,  8.76570247e-01,  4.51616431e+00, -2.65084165e+00,
       -2.98443977e+00,  6.31757687e+00,  3.82598912e+00,  1.24980669e+01,
       -2.09920219e+00,  3.89204670e+00,  1.71451351e+01, -2.39077335e+00,
        1.21694190e+01,  1.44618395e+00,  6.43916226e+00,  4.20808577e+00,
        2.29435119e+00,  1.02283761e+01,  2.19479207e+01,  1.86547766e+01,
        2.00991804e+00, -5.72520124e-01,  1.89274475e+01,  7.18701507e+00,
       -1.28180815e+00, -2.14683130e+00,  6.68070204e+00,  8.80099337e+00,
        1.49173283e+01, -7.30505180e-01,  1.25375784e+00,  4.23242240e+00,
        6.98099665e+00,  5.40669350e+01,  8.08227947e+00, -8.31700376e-01,
        3.00060085e+01,  1.60466994e+00,  1.51540184e+01,  2.15143991e+02,
        5.68939427e-01,  1.44196403e+01,  1.02991366e+01,  1.28039873e+01,
        2.27834069e+00,  1.90196764e+00, -6.89687081e+00,  3.15491746e+01,
        5.66656020e+00,  4.02683920e+01,  1.39162637e+01,  3.50988212e+00,
        1.20903628e+00,  7.27272551e+00,  3.13376459e+00,  1.26728398e+03,
        1.51065170e+01,  1.20516968e+01,  5.82026926e-01, -2.32941103e-01,
        2.21816634e+00, -2.53995428e-01,  3.88798844e+01,  3.13461966e+00,
        4.57827254e+00,  2.49635570e+00,  1.19191636e+00, -4.91685130e-01,
        1.94399471e+01,  2.92321351e+00,  2.30656547e+01,  8.03882386e+00,
        8.71850040e+00,  1.47498425e+01,  2.27449423e+01,  4.80142318e+00,
        6.75633336e+00, -1.40596582e+00,  6.97713773e+00,  7.70411250e+00,
        9.67020819e+00, -1.95537268e+00,  5.82824611e+00,  1.16582774e+01,
       -1.81386358e+00,  2.23878299e+01,  2.51953618e+01,  2.82489923e+01,
        5.67332301e+00, -1.39204222e+00,  5.51222325e+00,  3.24044365e+01,
        1.12928463e+01,  1.30909128e+01,  1.13490407e+01, -6.78668944e+00,
        1.57746987e-01,  8.73057486e-01, -5.45369554e-02,  4.53831203e+00,
        1.77459944e+01,  3.87064378e+00,  2.57872255e+00,  2.48366412e+01,
        7.79579696e+00,  1.72717642e+00,  4.65409223e+01,  7.68075331e+00,
       -1.48643321e+00,  1.84520801e+00,  3.77991072e+00,  3.82901239e+00,
        1.64953866e+01,  1.10641415e+01, -2.07673881e+00,  5.93988830e+00,
        3.63239511e+00,  1.23891127e+02,  7.48773378e+00,  4.17831310e+00,
       -7.43684254e+00,  8.81425163e+00,  7.85765000e+01,  1.82987251e+00,
        2.32960001e+01,  6.39782275e-02,  1.78543846e+01,  1.22015154e+01,
        3.34446741e+01,  8.69555680e+00, -3.99429591e+00,  5.85166646e+00,
        1.68118584e+00,  3.28799650e-01, -5.73852261e+00,  8.85769840e+00,
       -7.40718459e-01,  1.93398200e+01,  6.05048342e-01, -4.27080820e-01,
        1.13326988e+01,  1.17598975e+01,  8.86251953e+00,  2.50331592e+00,
       -2.58347707e+00,  9.72229759e-01,  6.32525674e+00,  6.81827440e+00,
        1.29859157e+00,  1.24265890e+00, -5.95090290e-01, -3.96339827e+00,
       -1.59210675e+00,  9.34427469e+00,  1.24143398e+01,  3.26122276e+00,
        1.37174408e+00,  1.36980849e+01,  1.21751958e+01,  7.55107487e-02,
        1.55089847e+01,  8.34105274e+00,  5.10622312e+00,  5.39457031e+00,
        2.23595963e+00,  2.45112563e+01,  1.88224475e+00,  1.09635849e+01,
        6.19261934e-01,  1.46274466e+00, -9.91203020e-01, -2.97420764e+00,
        3.95244565e+01, -8.58205818e-01,  2.01568619e+00,  3.03242307e+00,
        5.66163870e-01,  1.04947648e+01,  1.98083235e+00,  5.61147365e+00,
        1.80007856e+01,  2.61976216e+01, -2.20904435e-01,  1.00252597e+01,
        1.03812549e+00,  2.79691943e+00, -6.08975744e+00,  4.79482070e+00,
        7.20080238e+01,  4.58720739e+00,  1.73760945e+01,  1.15912694e+02,
        1.62559676e+01,  4.72260849e+00,  1.26760376e+01,  2.93609182e+00,
        1.13534848e+01, -1.12024073e+00,  5.45220520e-01, -1.24808630e+00,
        9.19530866e+00,  3.21234167e+01,  1.39514035e+02,  2.74045923e+00,
        6.33699389e+00,  2.67136552e+00,  2.08032557e+00,  7.51176071e+00,
        1.45211119e+00,  2.30127878e+01,  4.13590861e+00,  3.93600511e+00,
        1.07751678e+00,  1.07247686e+01,  1.01351314e+01, -2.08707641e+00,
        4.11786577e+00,  2.60485513e+01, -5.51166795e-01,  3.82708882e+00,
        2.29783322e+01,  8.22234807e+00,  2.61676088e+00,  2.83685229e+01,
        1.36092370e+00,  1.39296112e+00,  2.26064841e+01,  7.00129826e+00,
       -6.20941369e-01,  1.27148244e+00, -2.36778426e+00, -5.35357858e+00,
       -4.43615529e+00,  3.39539436e-01,  6.04735129e+01, -1.06678757e+00,
        2.67981127e+00,  4.10182281e+00,  9.80970682e+00,  3.62718985e+00,
        2.44804683e+01,  1.59307283e+00,  1.49278770e+01,  2.49171707e+00,
        2.73347192e+00,  2.50671114e+00, -9.07831796e+00,  1.25972499e+01,
        3.83010049e+00,  4.68515098e+00,  8.50003631e-01,  3.43139360e+01,
        2.14032137e+00,  8.71366604e+00,  6.13462589e+00,  6.50467573e+00,
        7.15760867e+00,  8.97344969e+00,  1.35096162e+00, -1.15845314e+00,
       -8.15487518e-02, -1.70480120e+00,  7.84782537e+00,  1.52259843e+01,
        8.40850370e+00])

In [27]:
df['out2']=hat_y**2
df['out3']=hat_y**3
df['out4']=hat_y**4
df

,capital,labour,output,wage,out2,out3,out4
0,2.606563,184,9.250759,43.080307,151.061183,1856.646929,2.281948e+04
1,1.323237,91,3.664310,27.780016,0.208942,0.095507,4.365659e-02
2,22.093692,426,28.781516,44.467748,1067.420235,34874.111139,1.139386e+06
3,10.737851,72,4.124642,39.734710,71.444670,603.885709,5.104341e+03
4,1.161365,46,2.890150,34.650709,1.322674,1.521175,1.749466e+00
...,...,...,...,...,...,...,...
564,2.625403,20,1.424376,33.477545,0.006650,-0.000542,4.422515e-05
565,1.276386,61,2.109048,26.300732,2.906347,-4.954744,8.446854e+00
566,1.953869,117,6.241870,41.153979,61.588363,483.334718,3.793126e+03
567,1.318527,46,7.902237,66.720139,231.830599,3529.849074,5.374543e+04
568,2.832391,161,6.804085,36.618435,70.702934,594.505886,4.998905e+03

In [7]:
model2=smf.ols(data=df, formula='output~capital+labour+wage+out2+out3+out4').fit()

In [8]:
R2_un=model2.rsquared
R2_re=model.rsquared

In [9]:
F_obs=(R2_un-R2_re)/(1-R2_un)*(len(df)-7)/3
F_obs

69.5325092927439

In [10]:
alpha=0.05
stats.f.ppf(1-alpha,3,len(df)-7)

2.620761015118207

In [ ]:
$$H_0: \gamma_1=\gamma_2=\gamma_3=0$$
$$H_1: \gamma_1^2+\gamma_2^2+\gamma_3^2>0$$

$F_{obs}>F_{cr}$ =>H0 Ð¾Ñ‚Ð²ÐµÑ€Ð³Ð°ÐµÐ¼

# 1.2 sleep equation #2

In [53]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/sleep75.csv')
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,1,2026,0,2026,0,27,0,18,NaN,2025
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,0,675,1,465,210,18,0,4,NaN,1156
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,1,1851,0,1851,0,19,0,17,NaN,1369
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1,1961,1,1481,480,31,0,22,NaN,2916
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,0,2363,0,2363,0,8,1,9,NaN,900

In [54]:
df['totwrk*south']=df['totwrk']*df['south']
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq,totwrk*south
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,3438,0,3438,0,14,0,13,7.070004,1024,0
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,5020,0,5020,0,11,0,0,1.429999,961,5020
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,2815,0,2815,0,21,0,0,20.529997,1936,0
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,3786,0,3786,0,12,0,12,9.619998,900,0
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,2580,0,2580,0,44,0,33,2.750000,4096,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,2026,0,2026,0,27,0,18,NaN,2025,0
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,675,1,465,210,18,0,4,NaN,1156,0
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,1851,0,1851,0,19,0,17,NaN,1369,0
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1961,1,1481,480,31,0,22,NaN,2916,1961
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,2363,0,2363,0,8,1,9,NaN,900,2363

In [62]:
model1=smf.ols(data=df, formula='sleep~totwrk+south+totwrk*south+age+age**2+male+smsa+marr').fit()
ht_y=model1.predict()
ht_y

array([3059.7878713 , 3027.2982769 , 3150.14824668, 2906.16253706,
       3304.38212744, 3480.86759964, 3302.85549107, 3018.58625027,
       3251.70153209, 3103.16655328, 2565.13027726, 3435.42675042,
       3158.81153771, 3237.97874758, 3169.35522302, 3119.99576601,
       3122.69701138, 2972.94125121, 3267.34993886, 3378.03927478,
       3009.57887624, 3057.00303608, 3285.56012952, 3105.656311  ,
       2794.44184501, 3094.17710558, 2997.0741813 , 3107.7213396 ,
       3212.89504595, 3184.98789179, 2986.31956339, 3010.04799954,
       3102.57008721, 3196.83500392, 3071.3642847 , 2942.67985756,
       3177.66019248, 3462.19865696, 3113.84188955, 3122.60074779,
       3121.63290454, 3146.17668375, 3142.31222092, 3307.64173116,
       3164.08023326, 3242.96541184, 3278.97618864, 3463.65838475,
       3332.20393894, 2749.78812358, 3027.73683892, 3064.62039459,
       3226.3359574 , 3133.51879223, 3144.99343399, 3210.05308127,
       3296.45292169, 3273.52388798, 3227.96381037, 3224.78187803,
       3016.87555536, 3194.78528574, 3249.68586756, 3275.58070337,
       3353.51838364, 3482.21357955, 3178.43217725, 2860.44834497,
       3142.76491733, 3459.05494513, 3093.61508998, 3169.22238243,
       3197.93867247, 3444.72706995, 3134.08950759, 3224.20710216,
       3242.29006094, 3241.65001785, 3327.02067815, 3254.64328867,
       3322.91772866, 3682.40271981, 3368.63900801, 3136.45762707,
       3185.86756464, 3171.76153224, 3405.5263692 , 2947.11598012,
       3234.37856931, 3405.00213144, 3181.14083849, 3260.79424338,
       3227.14092916, 3265.05184622, 3278.02433075, 3341.13228473,
       3331.9438649 , 3218.5498698 , 3109.06710228, 2947.22191862,
       3205.43113201, 3140.44467252, 3086.89463426, 3164.08609988,
       3373.08587861, 3161.37503826, 3132.80482401, 3476.88091276,
       3420.16486217, 3165.43077684, 3391.54750739, 3022.39663399,
       3079.18573406, 3368.46529071, 3422.19184936, 3105.6345174 ,
       3124.98620779, 2845.20929538, 3177.7330217 , 3132.63950871,
       3322.06907807, 3395.71693984, 3402.25139169, 3109.21732438,
       3064.28818231, 3341.11165273, 3255.70164062, 3367.17152337,
       3417.50710435, 2956.82180161, 3190.15883181, 3231.18300876,
       3056.61428015, 3286.92772428, 2993.78725485, 2956.62109895,
       3374.24459081, 3514.16548442, 3490.56964361, 3228.35480864,
       3329.57377099, 3350.58745367, 3308.4134565 , 3245.30723304,
       3203.65950937, 3209.69772607, 3155.83219679, 3194.38426975,
       3203.70111807, 2860.98521703, 3032.89092446, 3155.16440093,
       3208.33213567, 3300.77077485, 3499.55605784, 3038.49885365,
       3668.36951663, 2979.98975236, 3135.33977895, 3180.67453144,
       3297.92134543, 3281.16843191, 3165.06678899, 3402.43210473,
       3452.69644475, 3037.85393711, 3169.99274274, 3039.92636252,
       3262.68790107, 3163.22894779, 3166.24458969, 3285.45201577,
       3043.27118323, 3130.29068753, 3436.67190306, 3308.05693632,
       3078.68197128, 3186.72341378, 3151.23523285, 3237.69120824,
       3296.70806704, 3333.25126306, 3334.52088849, 3237.23528936,
       3257.72375758, 3296.14148777, 2981.16849745, 3352.41946704,
       3272.85889878, 3295.57034484, 3316.59519696, 3374.71073963,
       3216.69067431, 3476.14028768, 3224.79201107, 3272.28440396,
       3230.49049498, 3321.55964901, 3347.68645001, 3182.83810172,
       3359.31052772, 3500.63492004, 3292.24653159, 3131.90436092,
       3368.49289194, 3208.8958818 , 3311.99958194, 3167.32498209,
       3122.32262148, 3228.61475174, 3319.28916508, 3336.69518702,
       3023.56362896, 3294.64906329, 3333.20841081, 3284.84789182,
       3143.29972103, 3263.54717012, 3198.97097297, 3213.72381066,
       3149.01733546, 3176.78921938, 3422.01634037, 3303.60684215,
       3167.13921439, 3176.95901046, 3114.09065334, 3380.9775238 ,
       3207.77295321, 3224.32029287, 3181.08048655, 3308.70155267,
       3250.07367912, 3212.23086938, 3130.44279839, 3269.63137938,
       3062.97546992, 3211.09125842, 3264.23741678, 2984.124345  ,
       3279.08371569, 3000.52718783, 3289.26986557, 3105.66139147,
       3168.26367318, 3387.59089689, 3272.68390859, 3234.37856931,
       3387.91748774, 3190.20444912, 3249.52110732, 3313.43968246,
       3093.79480207, 3267.8873867 , 3472.02916019, 3157.03840176,
       3323.4483964 , 3251.88769661, 3441.53598471, 2900.65641028,
       3153.78798665, 3145.59686929, 3217.45795624, 3237.59774702,
       3299.94694926, 3329.57160933, 3222.31674705, 3196.71205271,
       3662.56750932, 3353.14714471, 3193.28607848, 3513.42677887,
       3331.06778821, 3259.1569635 , 3208.09773792, 3176.49508627,
       3331.87508271, 3244.27167181, 3264.71963394, 3329.96898052,
       3457.91761974, 3257.53759306, 3333.44459232, 3349.7055335 ,
       3164.26486759, 3415.64337504, 3292.59209424, 2979.88098073,
       3393.42868782, 3143.68717402, 3293.77017659, 3468.13042648,
       3336.18307281, 3403.96864931, 3306.54801407, 3294.12771201,
       3097.02420972, 3224.77598799, 3389.95798346, 3376.04743396,
       3288.39947829, 3282.51886142, 3543.25122065, 3078.42921275,
       3705.61074906, 3074.511219  , 3494.64450089, 3186.58247725,
       3371.64199842, 3355.31224682, 3056.75521668, 3128.84994346,
       3176.07662312, 3349.32188879, 3139.46268046, 3279.47054108,
       3384.72567685, 3447.14175183, 3616.4402931 , 3230.54983168,
       3054.41984791, 3311.63227563, 3281.28271159, 3106.55790493,
       3211.79688546, 3264.42869252, 3251.59464921, 3192.23426246,
       3170.77025462, 3397.89285906, 3245.84164741, 3213.77849632,
       3276.05294983, 3001.40686068, 3203.09387449, 3321.99719323,
       3126.05393391, 3250.43483383, 3521.43368521, 3557.39961058,
       3333.65896998, 3422.89729321, 3126.84030377, 3188.47762688,
       3211.15936573, 3238.0468549 , 3351.43003939, 3225.21491757,
       3163.25855176, 3092.826621  , 3256.77255846, 2932.06712056,
       3406.67275194, 3390.66238548, 3231.67992317, 3491.9816986 ,
       2918.04617743, 3159.51448984, 3366.89814595, 3310.00347829,
       3142.66314568, 3236.11369449, 3170.97284604, 3390.61299065,
       3154.18921986, 3245.68692063, 3290.89568705, 3333.91713458,
       3246.23480214, 3097.11121852, 3180.1688799 , 3250.06093718,
       3425.23509249, 3514.16145833, 3370.08515358, 3149.87412899,
       3447.34496124, 3352.56906454, 3288.64482312, 3408.6075268 ,
       3524.07999119, 3570.02423459, 3190.02108698, 3167.48368672,
       3144.45442518, 3243.65229564, 3160.26570343, 3348.04020791,
       3175.82235128, 3360.81143474, 3088.79340319, 3196.86905758,
       3271.65143019, 3230.88295757, 3227.72941261, 3140.38112887,
       3331.04426689, 3388.67746328, 3311.20298899, 3024.54678262,
       3613.53928944, 3241.2456872 , 3283.18151013, 3115.7990909 ,
       3441.29214921, 3305.23644639, 3214.66778642, 3545.15429871,
       3165.05449817, 3033.57217274, 3341.33599705, 3223.44837539,
       3268.20161366, 3428.7518321 , 3226.07301403, 3417.31626092,
       3214.07154372, 3153.00046205, 3193.23707297, 3261.44880404,
       3049.04065019, 3114.36345806, 3260.06609557, 3384.2479432 ,
       3335.90519788, 3105.00533886, 3058.61804318, 3529.9737292 ,
       3092.21253565, 3092.68641162, 3543.47208675, 3468.42945165,
       3390.89005731, 3220.79896866, 3324.05561117, 3133.59292439,
       3220.40549082, 3335.64661401, 3225.61426202, 3295.89972398,
       3395.51340404, 3161.80941151, 3265.33049681, 3269.22691417,
       3754.92781123, 3186.10403761, 3168.90709028, 3156.6827551 ,
       3125.55017114, 3165.36211447, 3249.9802179 , 3293.64007996,
       3172.37747558, 3129.6543294 , 3394.29929232, 3210.04623951,
       3213.59349341, 3287.74889548, 3319.25797533, 3168.09643836,
       3233.53881532, 3179.4516892 , 3431.78055802, 3411.50853046,
       3582.10006432, 3140.5396539 , 3176.92921153, 3555.99103141,
       3222.16674217, 3219.89208391, 3152.31732501, 3201.63060965,
       3584.92273071, 3356.00448257, 3393.40238953, 3178.94582044,
       3536.10417127, 3103.41437269, 3381.57635073, 3385.70280128,
       3274.64661798, 3442.50190842, 3177.53176399, 3336.55330611,
       3083.05360581, 3503.46247054, 3578.30349159, 3240.3273913 ,
       3309.83624347, 3449.64438759, 3138.69024905, 3493.26711146,
       3760.72981854, 3599.427749  , 3212.03563651, 3474.4811679 ,
       3206.01852974, 3309.9371015 , 3327.42748555, 3397.49045124,
       3506.67396925, 3582.02172706, 3378.79426589, 3278.46984756,
       3522.72002071, 3292.01386436, 3318.86141076, 3461.87271751,
       3632.87132297, 3524.07999119, 3547.67172609, 3416.21237728,
       3419.81806359, 3414.20599832, 3403.24067504, 3256.43319735,
       3417.10700197, 3414.20599832, 3495.59319466, 3458.5278968 ,
       3473.47402514, 3444.26518988, 3496.4094821 , 3366.57844401,
       3390.10334437, 3495.45320251, 3467.44372914, 3218.88648035,
       3512.47597656, 3555.51921631, 3668.65835892, 3601.93527481,
       3241.5844339 , 3472.06793575, 3393.98787028, 3286.03592248,
       2980.68892697, 3071.7465882 , 3701.36754302, 3570.02423459,
       3085.89690421, 3505.10096018, 3341.84412745, 3183.57024427,
       3131.50312771, 3570.4960497 , 3238.82531115, 3090.91762212,
       3242.51630396, 3086.03428044, 3310.81976572, 3008.13827351,
       3279.1754746 , 2939.30984118, 3096.1048477 , 3227.04441758,
       3723.64836951, 3051.23697119, 3374.92450538, 3108.63105749,
       3558.42021996, 3416.18305741, 3515.37698022, 3256.23133309,
       3445.57144984, 3224.81593168, 3272.29971632, 3466.20557649,
       3267.16282996, 3247.97383894, 3092.39133413, 3468.84628347,
       3478.68528611, 3509.46730388, 3339.11082135, 3176.07662312,
       3664.22390789, 3304.08268661, 3210.67395687, 3385.37700755,
       2969.75481419, 3066.35832214, 3215.95972413, 3489.13173268,
       3291.22990005, 3110.62212603, 3323.91467463, 3196.94739484,
       3185.34715774, 3351.90488797, 3673.35631528, 3336.19860383,
       3299.15634353, 3220.86756524, 3259.67131479, 3262.61014962,
       3150.92764731, 3437.10808365, 3304.67228177, 3139.68703472,
       3236.15055052, 3297.07688082, 3561.64092786, 3343.23970817,
       3254.68559491, 2832.49936488, 3259.73942211, 3376.23193128,
       3328.44411708, 3579.45822651, 3251.95029587, 3261.27762214,
       3396.18722474, 3566.69266597, 3416.76836803, 3319.53608538,
       3528.1680529 , 3088.02495966, 3356.80880576, 3078.51357486,
       3006.70166552, 3557.917043  , 3626.0539971 , 3054.50554373,
       3086.17877727, 3416.49578054, 3404.83369206, 3419.99458398,
       3234.13394161, 3482.58743416, 3261.61509448, 3153.40395262,
       3536.52789448, 3648.24125874, 3177.27238092, 3046.44477438,
       3176.21299598, 3590.0424179 , 3087.50777523, 3247.7854271 ,
       3239.1450154 , 3125.58778509, 3271.97450403, 3389.45429175,
       3100.51431341, 3561.32122362, 3217.35485088, 3294.19031128,
       3148.79203682, 3295.9259915 , 3277.9977798 , 3344.36263676,
       3239.01430881, 2919.79472425, 3524.34765645, 3213.50779759,
       3035.80327455, 3328.12666016, 2998.71454231, 3061.02340803,
       3521.17898753, 3364.45652598, 3248.51959975, 3509.104688  ,
       3205.56166649, 3117.62917672, 3480.77697156, 3237.55121609,
       3199.22905309, 3270.60470041, 3325.35883766, 3351.54148593,
       3191.64893994, 3175.44607262, 3181.7376939 , 3210.28614531,
       3141.49082226, 3081.19211301, 3224.85927091, 3018.30476653,
       3270.25094251, 3495.95037152, 3173.60220658, 3387.1548654 ,
       3339.75225117, 3555.51921631, 3174.78098243, 3466.63216361,
       3269.93312703, 3185.74089238, 3175.58323163, 3303.13736413,
       3259.6998604 , 3209.60172606, 3258.21294396, 3231.50138937,
       3189.77137881, 3361.2482518 , 3342.37744581, 3270.03166872,
       3186.94548884, 3206.33728961, 3554.30641756, 3268.73033098,
       3383.69091031, 3268.60310985])

In [63]:
df['slp2']=ht_y**2
df['slp3']=ht_y**3
df['slp4']=ht_y**4
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,workscnd,exper,yngkid,yrsmarr,hrwage,agesq,totwrk*south,slp2,slp3,slp4
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,0,14,0,13,7.070004,1024,0,9.362302e+06,2.864666e+10,8.765270e+13
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,0,11,0,0,1.429999,961,5020,9.164535e+06,2.774378e+10,8.398870e+13
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,0,21,0,0,20.529997,1936,0,9.923434e+06,3.126029e+10,9.847454e+13
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,0,12,0,12,9.619998,900,0,8.445781e+06,2.454481e+10,7.133121e+13
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,0,44,0,33,2.750000,4096,0,1.091894e+07,3.608035e+10,1.192233e+14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,0,27,0,18,NaN,2025,0,1.028060e+07,3.296307e+10,1.056907e+14
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,210,18,0,4,NaN,1156,0,1.263309e+07,4.490189e+10,1.595951e+14
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,0,19,0,17,NaN,1369,0,1.068460e+07,3.492507e+10,1.141606e+14
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,480,31,0,22,NaN,2916,1961,1.144936e+07,3.874111e+10,1.310879e+14
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,0,8,1,9,NaN,900,2363,1.068377e+07,3.492099e+10,1.141429e+14

In [64]:
model2=smf.ols(data=df, formula='sleep~totwrk+south+totwrk*south+age+age**2+male+smsa+marr+slp2+slp3+slp4').fit()

In [67]:
R2_un=model2.rsquared
R2_re=model1.rsquared

In [68]:
F_obs=(R2_un-R2_re)/(1-R2_un)*(len(df)-12)/3
F_obs

0.5231471022801802

In [69]:
alpha=0.05
stats.f.ppf(1-alpha,3,len(df)-12)

2.617736985449121

$F_{cr}>F_{obs}$ =>H0 accept